<% visitor = notification.visitor%>
<% visited = notification.visited%>
<div class ="row follow__cotent">
  <div class=" col s12">
    <div class="card horizontal ">
      <%= link_to user_path(visitor) do %>
        <div class="card-imag ">
          <%= image_tag visitor.image.url, size: 50 %>
        </div>
        <div class="card-stacked">
          <div class="follow__content">
            <div class="content__top">
              <% case notification.action %>
              <% when 'follow' then %>
              <%= visitor.nickname%>さんから
              フォローされました
              <% when 'message' then %>
              <%= visitor.nickname%>さんから
              メッセージが届いています
              <% when 'study' then %>
              <%= visitor.nickname%>さんが
              部屋を作りました
            <% end %>
          </div>
        </div>
        <div class="card-action">
          <%= time_ago_in_words(notification.created_at).upcase %>
        <% end %>
      </div>
    </div>
  </div>
</div>
