<div class ="container user__show">
  <div class ="row">
    <div class="user__show__content col s12 m12 l12">
      <div class="card horizontal user__show__content__card">
        <div class="card-image user__show__content__image">
          <%= image_tag user.image.url, class: "profile__pic"%>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="content__top">
              <h6 class ="content__top__name">
                <%= user.nickname%>
              </h6>
              <div class ="content__top__btn">
                <% if current_user != @user %>
                  <% if @user.followed_by?(current_user) %>
                    <p><%=link_to "フォロー中", user_relationships_path(@user.id), method: :delete , class: "btn content__top__btn__follow"%></p>
                  <% else %>
                    <p><%=link_to "フォロー", user_relationships_path(@user.id), method: :post ,class: "btn"%></p>
                  <% end %>
                <% else %>
                  <p><%= link_to "編集", edit_user_path(current_user), class: "btn"%></p>
                <% end %>
                <% unless @user.id == current_user.id %>
                  <% if @isRoom == true %>
                    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="waves-effect wavÏes-light btn content__top__message"><i class="material-icons center">email</i></a>
                    <% else %>
                      <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e| %>
                          <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <%= button_tag '<i class="material-icons">email</i>'.html_safe, type: "submit", class: "waves-effect wavÏes-light btn content__top__message" %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <p class="user__show__content__int">
                <%= user.introduce%>
              </p>
            </div>
            <div class="card-action">
              <%=link_to follows_user_path(@user.id) do %>
                <p><%= @user.followings.count %>フォロー</p>
              <% end %>
              <%=link_to followers_user_path(@user.id) do %>
                <p><%= @user.followers.count %>フォロワー</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class ="row">
      <h6 class ="blockquote ">
        <blockquote>
          過去に開催した部屋一覧  
        </blockquote>
      </h6>
      <% @study.each do |s|%>
        <div class ="col s6 m4 l3">
          <div class="card col index__main__block ">
            <div class="card-image ">
              <%= image_tag s.image.url, class: 'index__main__image'%>
            </div>
            <div class="card-content index__main__card">
              <span class="card-title activator grey-text text-darken-4 index__main__title"><%= s.name %><i class="material-icons right">more_vert</i></span>
              <div class="index__main__content">
                <div class="index__main__content__right">
                  <%= link_to study_path(s.id), class: "btn " do%>
                    詳細
                  <% end %>
                </div>
                <div class ="index__main__content__left">
                  <%= image_tag s.tool.image, size:50%>
                </div>
              </div>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 reveal__title"><%= s.name %><i class="material-icons right">close</i></span>
              <ul class="collection ">
                <li class="collection-item">  <%= link_to user_path(s.owner.id), class: "reveal__path" do %>
                    <p><%= "ホスト: #{s.owner.nickname}" %></p>
                    <%= image_tag s.owner.image.url, class: "reveal__image",  width: 30, height: 30%>
                  <% end %> </li>
                <li class="collection-item">
                  <p><%= "ツール: #{s.tool.name}" %></p>
                </li>
                <li class="collection-item">
                  <p><%= "タイプ: #{s.category.name}" %></p>
                </li>
                <li class="collection-item">
                  <p><%= "終了予定: #{s.end_at.strftime('%H:%M')}" %></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
