
<div class ="container user__show">
  <div class ="row">
    <div class="user__show__content col s12 m12 l12">
      <div class="card horizontal user__show__content__card">
        <div class="card-image user__show__content__image">
          <%= image_tag user.image.url, class: "profile__pic"%>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="content__top">
              <h6 class ="content__top__name">
                <%= user.nickname%>
              </h6>
              <div class ="content__top__btn">
                <% if current_user != @user %>
                  <% if @user.followed_by?(current_user) %>
                    <p><%=link_to "フォロー中", user_relationships_path(@user.id), method: :delete , class: "btn content__top__btn__follow"%></p>
                  <% else %>
                    <p><%=link_to "フォロー", user_relationships_path(@user.id), method: :post ,class: "btn"%></p>
                  <% end %>
                <% else %>
                  <p><%= link_to "編集", edit_user_path(current_user), class: "btn"%></p>
                <% end %>
                <% unless @user.id == current_user.id %>
                  <% if @isroom == true %>
                    <p class="user-show-room"><a href="/rooms/<%= @room_id %>" class="waves-effect wavÏes-light btn content__top__message"><i class="material-icons center">email</i></a>
                    <% else %>
                      <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e| %>
                          <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <%= button_tag '<i class="material-icons">email</i>'.html_safe, type: "submit", class: "waves-effect wavÏes-light btn content__top__message" %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <p class="user__show__content__int">
                <%= user.introduce%>
              </p>
            </div>
            <div class="card-action">
              <%=link_to follows_user_path(@user.id) do %>
                <p><%= @user.followings.count %>フォロー</p>
              <% end %>
              <%=link_to followers_user_path(@user.id) do %>
                <p><%= @user.followers.count %>フォロワー</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class ="row">
      <h6 class ="blockquote ">
        <blockquote>
          現在開催中の部屋  
        </blockquote>
      </h6>
     <%= render partial: "studies/study__box", locals: { studies: @studynow } %>
    </div>
  </div>
  <div class="container">
    <div class ="row">
      <h6 class ="blockquote ">
        <blockquote>
          過去に開催した部屋一覧  
        </blockquote>
      </h6>
     <%= render partial: "studies/study__box", locals: { studies: @study } %>
      <%= paginate @study%>
    </div>
  </div>
