<div class ="container show">
  <div class ="row">
    <h5 class ="edit__acount">アカウントの編集</h5>
    <div class ="edit__conteiner">
    </div>
    <%= form_for(current_user) do |f|%>
      <div class="input-field col s6">
        <%= f.text_field :nickname, autofocus: true%>
        <%= f.label :ニックネーム%>
      </div>
      <div class="col s6">
        <%= f.label :image, class: 'image_label' do %>
          <div class="prev-contents">
            <% if current_user.image.present?%>
                <div class="prev-content">
                  <%= image_tag current_user.image.url, alt: "preview", class: "prev-image", size: 100%>      
                </div>
            <% else %>
                <i class="material-icons">local_see</i>
            <% end %>    
          <%= f.file_field :image, type: 'file', id:"img-file" %>
          </div>
      <% end %>
      </div>
      <div class="input-field col s12">
        <%= f.text_area :introduce,class: "materialize-textarea" %>
        <%= f.label :自己紹介%>
      </div>
      <div class="input-field col s12">
        <%= f.email_field :email%>
        <%= f.label :メールアドレス%>
      </div>
      <%= f.submit "更新", class: "btn col s6"%>
    <% end %>
  </div>
</div>
