<div class="container">
  <div class="row">
    <%= form_with(model: @study, local: true) do |f| %>
      <h3>更新する</h3>
      <div class="input-field col s12 m6">
       <%= f.collection_select :tool_id, Tool.all, :id, :name, {include_blank: "選択してください", selected: @study.tool} %>
        <label>使用ツール</label>
      </div>
      <div class="input-field col s12 m6">
       <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: "選択してください", selected: @study.tool} %>
        <label>使用ツール</label>
      </div>
   

      <div class="input-field col s12">
        <%= f.time_field :end_at, class:"timepicker" %>
        <%= f.label :終了時刻%>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :name,class: "materialize-textarea" %>
        <%= f.label :部屋名%>
      </div>
      <div class="col s6">
        <div class="prev-contents">
         
          <%= f.file_field :image, type: 'file', id:"img-file" %>
        </div>
      </div>  
        <div class="input-field col s12">
          <%= f.text_area :introduce,class: "materialize-textarea" %>
          <%= f.label :説明%>
        </div>
      <div class="input-field col s12">
        <%= f.submit "更新", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
