<div class ="container">
  <div class ="row ">
    <div class ="index__top col s12  ">
      <h6 class ="blockquote ">
        <blockquote>
          勉強部屋を検索しよう
        </blockquote>
      </h6>
      <div class="input-field col s12 ">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>部屋の種類</label>
      </div>
      <div class="input-field col s12 ">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>使用ツール</label>
      </div>
      <div class="input-field col s12 ">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>参加人数</label>
      </div>
      <a class="waves-effect waves-light btn "><i class="material-icons left">search</i>検索</a>
    </div>
  </div>
  <div class ="row">
    <div class ="index__main">
      <h6 class ="blockquote ">
        <blockquote>
          現在開催中の部屋一覧
        </blockquote>
      </h6>
      <% @studies.each do |s|%>
        <div class ="col s6 m4 l3">
          <div class="card col index__main__block ">
            <div class="card-image ">
              <%= image_tag s.image.url, class: 'index__main__image'%>
            </div>
            <div class="card-content index__main__card">
              <span class="card-title activator grey-text text-darken-4 index__main__title"><%= s.name %><i class="material-icons right">more_vert</i></span>
              <div class="index__main__content">
                <div class="index__main__content__right">
                  <%= link_to study_path(s.id), class: "btn " do%>
                    詳細
                  <% end %>
                </div>
                <div class ="index__main__content__left">
                  <%= image_tag s.tool.image, size:50%>
                </div>
              </div>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 reveal__title"><%= s.name %><i class="material-icons right">close</i></span>
              <ul class="collection ">
                <li class="collection-item">  <%= link_to user_path(s.owner.id), class: "reveal__path" do %>
                    <p><%= "ホスト: #{s.owner.nickname}" %></p>
                    <%= image_tag s.owner.image.url, class: "reveal__image",  width: 30, height: 30%>
                                  <% end %> </li>
                <li class="collection-item">
                  <p><%= "ツール: #{s.tool.name}" %></p>
                </li>
                <li class="collection-item">
                  <p><%= "タイプ: #{s.category.name}" %></p>
                </li>
                <li class="collection-item">
                  <p><%= "終了予定: #{s.end_at.strftime('%H:%M')}" %></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<footer class="page-footer deep-purple accent-2">
  <div class="footer-copyright">
    <div class="container">
      © 2020 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
