<div class ="container show">
  <div class="row">
    <div class="show__content col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <%= image_tag @study.image.url%>
        </div>
        <div class="card-content">
          <span class="card-title"><%=@study.name %></span>
          <p>ホスト</p>
          <%= image_tag @study.owner.image.url, width: 50, height: 50%>
          <%= @study.owner.nickname%>
          <% if @study.created_by?(current_user)%>
            <%= link_to "編集", edit_study_path(@study), class:"btn"%>
            <%= link_to "削除", study_path(@study), class:"btn", method: :delete, data: { confirm: "本当に削除しますか?"}%>
          <% end %>
        </div>
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle">link</i>
            <span class="title">リンク</span>
            <p>First Line 
            </p>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">person</i>
            <span class="title">参加メンバー</span>
            <% @joins.each do |join|%>
              <%= join.user.nickname%>
            <% end %>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">alarm</i>
            <span class="title">終了予定</span>
            <p>  <%= "~#{@study.end_at.strftime('%H:%M')}" %>
            </p>
          </li>
        </ul>
        <% if @join %>
          <%= link_to "退出", study_join_path(@study, @join) , method: :delete, class: "btn"%>
        <% elsif user_signed_in?%>
          <%= form_with(model: @study.joins.build, url: study_joins_path(@study), local: true) do |f|%>
            <%= button_tag '<i class="material-icons">input</i>参加'.html_safe, :type => "submit", :class =>"btn btn-default btn-s-md" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
