<div id="modal1" class="modal">
  <div class="modal-content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login'} )do |f| %>
      <div class="field">
      <div class=session>
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", id: "login__email"%>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", id: "login__password"%>
        </div>
      </div>
      <div class="actions">
        <%= render "devise/shared/links" %>
        <%= f.submit "ログイン", class: "btn" %>
        <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
