<div class="container">
  <h6 class="blockquote follow"> 
    <blockquote>
      メッセージ一覧
    </blockquote>
  </h6>
  <% @new_entries.each do |e| %>
    <%= link_to room_path(e.room.id) do %>
     <ul class="collection message__index">
      <li class="collection-item collection-message">
         
        <%= image_tag e.user.image.url, class: "pic "%>
        <div class="message__avatar">
          <p class="message__avatar__name">
            <%= e.user.nickname%>
          </p>  
            <div class= "message__avatar__message">
              <p class="last__name">
              <%= Message.find_by(id: e.room.message_ids.last).user.nickname %>:
              </p>  
              <p class="last__message">
                <%= Message.find_by(id: e.room.message_ids.last).content %>
              </p>   
            </div>
        </div>
      </li>
    </ul>
      <% end %>
    <% end %>
