<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>LiveStudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class= "navbar-fixed shadow-text">
      <nav class="nav-wraper  deep-purple accent-2">
        <a href="/" class="brand-logo left">
          <%= image_tag "Live Study-logo-white.png", class: "study__logo"%>
        </a>
        <a href="#" class="sidenav-trigger right " data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="waves-effect">Contents1</a></li>
          <li><a href="#" class="waves-effect">Contents2</a></li>
          <li><a href="#" class="waves-effect">Contents3</a></li>
          <li><a href="#" class="waves-effect">Contents4</a></li>
        </ul>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-links">
      <div class="menu">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", user_path(current_user) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "編集", edit_user_path(current_user) %></li>
        <% else %>
        <% end %>
      </div>
    </ul>
    <%= render partial:'layouts/notifications'%>
    <%= yield %>
    <div class="fixed-action-btn ">
      <%= link_to new_study_path(current_user) do %>
        <div class="btn-floating btn-large  ">
          <i class="large material-icons">add</i>
        </div>
      <% end %>
    </body>
  </html>
