<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>LiveStudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <div class=" navbar-fixed">
  <nav class="nav-wraper  deep-purple accent-2">
    <a href="#" class="brand-logo left">
      <%= image_tag "Live Study-logo-white.png", class: "study__logo"%>
    </a>
      <a href="#" class="sidenav-trigger right " data-target="mobile-links">
          <i class="material-icons">menu</i>
    </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#" class="waves-effect">Contents1</a></li>
            <li><a href="#" class="waves-effect">Contents2</a></li>
            <li><a href="#" class="waves-effect">Contents3</a></li>
            <li><a href="#" class="waves-effect">Contents4</a></li>
          </ul>
  </nav>
</div>

<ul class="sidenav" id="mobile-links">
  <a href="#" class="sidenav-close " data-target="mobile-links">
    <i class="material-icons close-icon">close</i>
  </a>
    <div class="menu">
      <li><a href="#">Contents1</a></li>
      <li><a href="#">Contents2</a></li>
      <li><a href="#">Contents3</a></li>
      <li><a href="#">Contents4</a></li>
    </div>
</ul>
    <%= yield %>
  </body>
</html>
